{{> menu}}

<form class="box"  action="/trail/{{traillist._id}}/updatetrail/{{trail._id}}" method="POST">
    <label>Update Trail Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" name="name", value="{{trail.name}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="lat" value="{{trail.lat}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="lon" value="{{trail.lat}}">
            </div>
            <div class="field">
                <input class="input" type="text"  name="county" value="{{trail.county}}">
            </div>
            <div class="field">
                <input class="input" type="text" name="description" value="{{trail.description}}">
            </div>
        </div>
    </div>
    <button class="button is-primary">Update Track</button>
</form>